<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.beginner.coronaviruscounter" android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
<application
    android:allowBackup="true"
    android:icon="@drawable/cvbgicon"
    android:logo="@drawable/cvbgicon"
    android:label="@string/app_name"
    android:roundIcon="@drawable/cvbgicon"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
<activity android:name=".MainActivity">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />

    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
    <activity android:name=".TotalExtended"></activity>
    <activity android:name=".CanadaActivity"></activity>
    <activity android:name=".ActiveExtended"></activity>
    <activity android:name=".ExeriseTimerActivity"></activity>
    <activity android:name=".AnyCountryActivity"></activity>
    <activity android:name=".ProtectionActivity"></activity>
    <activity android:name=".ProvinceDetail"></activity>
    </application>

    </manifest>